.postGratitudeButton {
  color: white;
  background-color: #48a684;
}

.postGratitudeButton:hover {
  background-color: #32745c;
}

.deleteDiscardButton {
  color: white;
  background-color: #ef565b;
}

.deleteDiscardButton:hover {
  background-color: #a73c40;
}
