.forgotPasswordForm {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 30rem;
  margin-bottom: 1rem;
}

.SubmitButtonContainer {
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  margin-bottom: 1rem;
}

.link {
  color: #3b5d8a;
}
