.gratitudesWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 3rem;
  border: 1px solid black;
}

.postContent {
  grid-column: 1 / -1;
}

.userName {
  color: grey;
}

.postTime {
  color: grey;
}
