.signupForm {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  max-width: 30rem;
  margin-top: 7.5rem;
}
.welcomeTitle,
.emailLabel,
.emailInput,
.passwordLabel,
.passwordInput,
.passwordConfirmLabel,
.passwordConfirmInput,
.signupButton {
  grid-column: 1/-1;
}

.emailInput,
.passwordInput,
.passwordConfirmInput {
  height: 1.75rem;
  border-radius: 5px;
  border: 1px solid black;
}

.blogLinkWrapper {
  display: flex;
  justify-content: center;
}

