.signupForm {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  max-width: 30rem;
  margin-top: 7.5rem;
}
.welcomeTitle,
.nameLabel,
.nameInput,
.emailLabel,
.emailInput,
.passwordLabel,
.passwordInput,
.passwordRequirementsCaption,
.passwordConfirmLabel,
.passwordConfirmInput,
.SignupButtonContainer {
  grid-column: 1/-1;
}

.nameLabel,
.emailLabel,
.passwordLabel,
.passwordConfirmLabel {
  font-size: 1.5rem;
}

.nameInput,
.emailInput,
.passwordInput,
.passwordConfirmInput {
  box-shadow: 0rem 0.1rem 0.35rem 0.05rem rgb(122, 122, 122);
  border: none;
  font-size: 1.25rem;
}

.passwordInput {
  margin-bottom: 1rem;
}
.nameInput,
.emailInput,
.passwordInput,
.passwordConfirmInput {
  height: 1.75rem;
  border-radius: 5px;
}

.SignupButtonContainer {
  display: grid;
  justify-content: center;
}

.blogLinkWrapper {
  display: flex;
  justify-content: center;
}

.link {
  color: #3b5d8a;
}
